:root {

	/* Fonts */
	--primary-font-family: sans-serif;

	/* Colors */
	--grayscale-00: rgba( 255, 255, 255, 1 ); /* #ffffff */
	--grayscale-01: rgba( 250, 250, 250, 1 ); /* #fafafa */
	--grayscale-02: rgba( 240, 240, 240, 1 ); /* #f0f0f0 */
	--grayscale-03: rgba( 230, 230, 230, 1 ); /* #e6e6e6 */
	--grayscale-04: rgba( 225, 225, 225, 1 ); /* #e1e1e1 */
	--grayscale-05: rgba( 221, 221, 221, 1 ); /* #dddddd */
	--grayscale-06: rgba( 237, 237, 237, 1 ); /* #ededed */
	--grayscale-07: rgba( 211, 211, 211, 1 ); /* #d3d3d3 */
	--grayscale-08: rgba( 212, 212, 212, 1 ); /* #d4d4d4 */
	--grayscale-09: rgba( 201, 201, 201, 1 ); /* #c9c9c9 */
	--grayscale-10: rgba( 191, 191, 191, 1 ); /* #bfbfbf */
	--grayscale-11: rgba( 181, 181, 181, 1 ); /* #b5b5b5 */
	--grayscale-12: rgba( 172, 172, 172, 1 ); /* #acacac */
	--grayscale-13: rgba( 162, 162, 162, 1 ); /* #a2a2a2 */
	--grayscale-14: rgba( 123, 123, 123, 1 ); /* #7b7b7b */
	--grayscale-15: rgba( 113, 113, 113, 1 ); /* #717171 */
	--grayscale-16: rgba( 103, 103, 103, 1 ); /* #676767 */
	--grayscale-17: rgba( 93, 93, 93, 1 );    /* #5d5d5d */
	--grayscale-18: rgba( 84, 84, 84, 1 );    /* #545454 */
	--grayscale-19: rgba( 74, 74, 74, 1 );    /* #4a4a4a */
	--grayscale-20: rgba( 64, 64, 64, 1 );    /* #404040 */
	--grayscale-21: rgba( 54, 54, 54, 1 );    /* #363636 */
	--grayscale-22: rgba( 44, 44, 44, 1 );    /* #2c2c2c */
	--grayscale-23: rgba( 35, 35, 35, 1 );    /* #232323 */
	--grayscale-24: rgba( 25, 25, 25, 1 );    /* #191919 */
	--grayscale-25: rgba( 15, 15, 15, 1 );    /* #0f0f0f */
	--grayscale-26: rgba( 0, 0, 0, 1 );       /* #000000 */
	--red: rgba( 200, 0, 0, 1 );              /* #c80000 */

}

/* RESET */
* {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	font-family: var(--primary-font-family);
	font-size: 12px;
	background-color: var(--grayscale-20);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; /* Sticky Footer Magic */	
}

body {
	position: relative;
	display: grid;
	grid-template-areas: 'form' 'main' 'footer';
	grid-template-columns: 1fr;
	grid-template-rows: max-content auto max-content;
	grid-gap: 0px;
}

body.edit form {
	height: auto;
	display: flex;
}

main {
	grid-area: main;
	background-color: var(--grayscale-08);
}

section.bmk-grid {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
	grid-gap: 5px;
}

h1 {
	font-size: 1.3em;
}

main ul {
	padding-left: 0;
	margin: 0 0 0 0;
	list-style-type: none;
	border-width: 0;
	border-style: solid;
	border-color: var(--grayscale-06);
}

ul.bookmarks { }

ul li button {
	cursor: pointer;
	display: block;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: var(--grayscale-04);
	background-color: transparent;
	font-weight: bold;
	font-size: 1em;
	color: var(--grayscale-26);
	line-height: 1.8em;
	text-align: left;
	padding: .25em .75em;
	margin: 0;
	width: 100%;
}

ul li button:hover {
	color: var(--grayscale-00);
	background-color: var(--red);
}

ul li ul {
	border: none;
	margin: 0;
}

ul li:hover ul {
	display: block;
}			

ul li ul li {
	border-bottom: 1px solid var(--grayscale-04);
}

ul li ul li a {
	text-decoration: none;
	color: var(--grayscale-26);
	display: block;
	padding: .65em .75em;
	background-color: var(--grayscale-00);
	word-break: break-word;
	font-family: var(--primary-font-family);
}

ul li ul li a:hover {
	color: var(--grayscale-00);
	background-color: var(--red);
}		

form {
	height: 0;
	grid-area: form;
	justify-self: center;
	background-color: var(--grayscale-20);
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	color: var(--grayscale-00);
	padding: 35px 13px 0px 13px;
}	

form.noGroups #actionDeleteLabel { display: none; }
form.noGroups #actionDelete { display: none; }
form.noGroups #elementBookmarkLabel { display: none; }
form.noGroups #elementBookmark { display: none; }

form #detailUpdateBookmarkLabel { display: none; }

form.create.bookmark #detailGroupText { display: none; }
form.create.bookmark #detailGroupSelect { display: inline-block; }
/*form.create.bookmark #detailParentLabel { display: none; }
form.create.bookmark #detailParentSelect { display: none; }*/
form.create.bookmark #detailNameText { display: inline-block; }
form.create.bookmark #detailNameSelect { display: none; }

form.update.bookmark #detailUpdateBookmarkLabel { display: inline-block; }
form.update.bookmark #detailGroupText { display: inline-block; }
form.update.bookmark #detailGroupSelect { display: none; }
/*form.update.bookmark #detailParentLabel { display: none; }
form.update.bookmark #detailParentSelect { display: none; }*/
form.update.bookmark #detailNameText { display: inline-block; }
form.update.bookmark #detailNameSelect { display: none; }
form.update #elementGroupLabel { display: none; }

form.create.group #detailGroupText { display: inline-block; }
form.create.group #detailGroupSelect { display: none; }
form.create.group #detailNameLabel { display: inline-block; }
form.create.group #detailNameText { display: inline-block; }
form.create.group #detailNameSelect { display: none; }
form.create.group #detailUrlLabel { display: inline-block; }
form.create.group #detailUrlText { display: inline-block; }

form.delete.bookmark #detailGroupLabel { display: none; }
form.delete.bookmark #detailGroupText { display: none; }
form.delete.bookmark #detailGroupSelect { display: none; }
/*form.delete.bookmark #detailParentLabel { display: none; }
form.delete.bookmark #detailParentSelect { display: none; }*/
form.delete.bookmark #detailNameText { display: none; }
form.delete.bookmark #detailNameSelect { display: inline-block; }
form.delete.bookmark #detailUrlLabel { display: none; }
form.delete.bookmark #detailUrlText { display: none; }

form.delete.group #detailGroupText { display: none; }
form.delete.group #detailGroupSelect { display: inline-block; }
/*form.delete.group #detailParentLabel { display: none; }
form.delete.group #detailParentSelect { display: none; }*/
form.delete.group #detailNameLabel { display: none; }
form.delete.group #detailNameText { display: none; }
form.delete.group #detailNameSelect { display: none; }
form.delete.group #detailUrlLabel { display: none; }
form.delete.group #detailUrlText { display: none; }


/* Had to revert filedset tags to divs because chrome did not support css grid on them. */
form .fieldset {
	border-width: 5px;
    border-style: solid;
    border-color: var(--grayscale-20);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
	display: grid;
 	grid-template-columns: max-content;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 0;
	align-items: center;
}

form .fieldset label,
form .fieldset input, 
form .fieldset select {
	margin: 0;
	font-size: 12px;
}

form .fieldset label {
	line-height: 2em;
	text-align: right;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid var(--grayscale-20);
	background-color: var(--grayscale-19);
	cursor: pointer;
}

form .fieldset label:hover,
form .fieldset label:focus,
form .fieldset label:active {
	background-image: linear-gradient( rgba( 54, 54, 54, 1 ), rgba( 54, 54, 54, .85 ) );
}

form .fieldset label input,
form .fieldset label select {
	margin-left: 13px;
	vertical-align: middle;
}

form .detail.fieldset label {
	min-width: 300px;
	max-width: 300px;
}

form .detail.fieldset label input,
form .detail.fieldset label select {
	margin-left: 13px;
	min-width: 172px;
}

form .complete.fieldset label {
	min-width: 150px;
	text-align: center;
}

form .complete.fieldset label input  {
	margin: 0;
	width: 80px;
}

.button {
	margin: 0;
	min-width: 69px;
	text-align: center;
	cursor: pointer;
}

.button.cancel {
	background-color: transparent;
	border: none;
	width: 90%;
	margin-top: 16px;
	padding: 5px 0;
}

.button.cancel svg {
	stroke: var(--grayscale-14);
	stroke-width: 3;
	fill: none;
	stroke-linecap: square;
}

.button.cancel:hover {
	background-image: linear-gradient( rgba( 54, 54, 54, .85 ), rgba( 54, 54, 54, 1 ) );
}

.button.cancel:hover svg{
	stroke: var(--grayscale-08);
}

#ajaxResponse {
	grid-column: 1 / 2;
	grid-row: 2 / 5;
	align-self: start;
	color: var(--red);
	max-width: 150px;
	font-size: .85em;
	line-height: 1.2em;
	padding: 10px;
}

.get-help {
	text-decoration: underline;
	cursor: pointer;
}

footer {
	grid-area: footer;
	align-self: center;
	text-align: center;
	padding: 10px 0;
	background-color: var(--grayscale-08);
	position: relative;
}

footer nav {
	margin-bottom: 15px;
}

footer nav button {
	cursor: pointer;
	min-width: 69px;
	font-size: 12px;
}

footer small {
	font-family: var(--primary-font-family);
	font-size: .8em;
}

footer small.links {
	text-align: center;
	display: block;
}

footer small.links a {
	text-decoration: underline;
	cursor: pointer;
	display: inline-block;
	margin: 10px 0 0 0;
}

.modal.about { 
	position: absolute; 
/* 	top: 0; */
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
	max-width: 600px;
/* 	height: max-content; */
	background-color: var(--grayscale-00);
	padding: 3em;
	box-shadow: 0 0 70px var(--grayscale-26);
	display: none;
	text-align: left;
	line-height: 1.3em;
}

.modal.help { 
	position: absolute; 
/* 	top: 0; */
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
	max-width: 600px;
/* 	height: max-content; */
	background-color: var(--grayscale-00);
	padding: 3em;
	box-shadow: 0 0 70px var(--grayscale-26);
	display: none;
	text-align: left;
	line-height: 1.3em;
}

.modal.about.show { display: block; }

.modal.help.show { display: block; }

.modal p, .modal ul, .modal ol {
	font-family: var(--primary-font-family);
}

.modal h2 {
	margin: 0 0 1em 0;
	font-size: 1.3em;
}

.modal h3 {
	margin: .25em 0 1em 0;
	font-size: 1.2em;
}

.modal h3.child {
	margin: .45em 0 1em 0;
	display: inline-block;
}

.modal p {
	margin: 0 0 1em 0;
}

.modal ul {
	list-style-type: square;
	padding-left: 2em;
	margin: 0 0 1em 0;
}

.modal ol {
	list-style-type: decimal;
	padding-left: 2em;
	margin: 0 0 1em 0;
}

.modal strong {
	font-family: var(--primary-font-family);
}

.modal a.close {
	float: right;
	display: block;
	cursor: pointer;
	text-decoration: underline;
	font-size: inherit;
}