:root {

	/* Fonts */
	--primary-font-family: sans-serif;

	/* Colors */
	--grayscale-00: rgba( 255, 255, 255, 1 ); /* #ffffff */
	--grayscale-01: rgba( 250, 250, 250, 1 ); /* #fafafa */
	--grayscale-02: rgba( 240, 240, 240, 1 ); /* #f0f0f0 */
	--grayscale-03: rgba( 230, 230, 230, 1 ); /* #e6e6e6 */
	--grayscale-04: rgba( 225, 225, 225, 1 ); /* #e1e1e1 */
	--grayscale-05: rgba( 221, 221, 221, 1 ); /* #dddddd */
	--grayscale-06: rgba( 237, 237, 237, 1 ); /* #ededed */
	--grayscale-07: rgba( 211, 211, 211, 1 ); /* #d3d3d3 */
	--grayscale-08: rgba( 212, 212, 212, 1 ); /* #d4d4d4 */
	--grayscale-09: rgba( 201, 201, 201, 1 ); /* #c9c9c9 */
	--grayscale-10: rgba( 191, 191, 191, 1 ); /* #bfbfbf */
	--grayscale-11: rgba( 181, 181, 181, 1 ); /* #b5b5b5 */
	--grayscale-12: rgba( 172, 172, 172, 1 ); /* #acacac */
	--grayscale-13: rgba( 162, 162, 162, 1 ); /* #a2a2a2 */
	--grayscale-14: rgba( 123, 123, 123, 1 ); /* #7b7b7b */
	--grayscale-15: rgba( 113, 113, 113, 1 ); /* #717171 */
	--grayscale-16: rgba( 103, 103, 103, 1 ); /* #676767 */
	--grayscale-17: rgba( 93, 93, 93, 1 );    /* #5d5d5d */
	--grayscale-18: rgba( 84, 84, 84, 1 );    /* #545454 */
	--grayscale-19: rgba( 74, 74, 74, 1 );    /* #4a4a4a */
	--grayscale-20: rgba( 64, 64, 64, 1 );    /* #404040 */
	--grayscale-21: rgba( 54, 54, 54, 1 );    /* #363636 */
	--grayscale-22: rgba( 44, 44, 44, 1 );    /* #2c2c2c */
	--grayscale-23: rgba( 35, 35, 35, 1 );    /* #232323 */
	--grayscale-24: rgba( 25, 25, 25, 1 );    /* #191919 */
	--grayscale-25: rgba( 15, 15, 15, 1 );    /* #0f0f0f */
	--grayscale-26: rgba( 0, 0, 0, 1 );       /* #000000 */
	--red: rgba( 221, 0, 0, 1 );              /* #c80000 */
	--medium-red: rgba( 200, 0, 0, 1 );       /* #c80000 */
	--dark-red: rgba( 165, 0, 0, 1 );         /* #c80000 */

}

/* RESET */
* {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-text-size-adjust: 100%; /* Text size fix for iphone landscape orientation. */
}

html, body {
	font-family: var(--primary-font-family);
	font-size: 13px;
	background-color: var(--grayscale-20);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; /* Sticky Footer Magic */	
}

body {
	position: relative;
	display: grid;
	grid-template-areas: 'form' 'main' 'footer';
	grid-template-columns: 1fr;
	grid-template-rows: max-content auto max-content;
	grid-gap: 0px;
}

body.edit form {
	height: auto;
	display: flex;
}

main {
	grid-area: main;
	background-color: var(--grayscale-08);
}

main section#bookmarks {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
	grid-gap: 5px;
}

main section#bookmarks ul.bookmarks {
	padding-left: 0;
	margin: 0 0 0 0;
	list-style-type: none;
	border-width: 0;
	border-style: solid;
	border-color: transparent;
}

main section#bookmarks ul.bookmarks li button {
	cursor: pointer;
	display: block;
	border-width: 0 0 0 0;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
	font-weight: bold;
	font-size: 1em;
	color: var(--grayscale-26);
	line-height: 1.8em;
	text-align: left;
	padding: .25em .75em;
	margin: 0;
	width: 100%;
	border-radius: 0;
}

main section#bookmarks ul.bookmarks li button:hover {
	color: var(--grayscale-00);
	background-image: linear-gradient( rgba( 200, 0, 0, 1 ), rgba( 200, 0, 0, .9 ) );
}

main section#bookmarks ul.bookmarks li ul {
	border: none;
	margin: 0;
}

main section#bookmarks ul.bookmarks li:hover ul {
	display: block;
}			

main section#bookmarks ul.bookmarks li ul li {
	border-bottom: 1px solid transparent;
}

main section#bookmarks ul.bookmarks li ul li a {
	text-decoration: none;
	color: var(--grayscale-26);
	display: block;
	padding: .65em .75em;
	background-image: linear-gradient( rgba( 255, 255, 255, 1 ), rgba( 255, 255, 255, .9 ) );
	word-break: break-word;
	font-family: var(--primary-font-family);
}

main section#bookmarks ul.bookmarks li ul li a:hover {
	color: var(--grayscale-00);
	background-image: linear-gradient( rgba( 200, 0, 0, 1 ), rgba( 200, 0, 0, .9 ) );
}		

form {
	height: 0;
	grid-area: form;
	justify-self: center;
	background-color: var(--grayscale-20);
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	color: var(--grayscale-00);
	padding: 35px 13px 0px 13px;
}	

form.create.bookmark .detail #bookmarksLabel { display: none; } 
form.create.bookmark .detail #groupText {      display: none; }
form.create.bookmark .detail #groupSelect {    display: inline-block; }
form.create.bookmark .detail #nameText {       display: inline-block; }
form.create.bookmark .detail #nameSelect {     display: none; }

form.create.group .detail #bookmarksLabel { display: none; } 
form.create.group .detail #groupText {      display: inline-block; }
form.create.group .detail #groupSelect {    display: none; }
form.create.group .detail #nameLabel {      display: inline-block; }
form.create.group .detail #nameText {       display: inline-block; }
form.create.group .detail #nameSelect {     display: none; }
form.create.group .detail #urlLabel {       display: inline-block; }
form.create.group .detail #urlText {        display: inline-block; }

form.delete.bookmark .detail #bookmarksLabel { display: none; } 
form.delete.bookmark .detail #groupsLabel {    display: none; }
form.delete.bookmark .detail #nameText {       display: none; }
form.delete.bookmark .detail #nameSelect {     display: inline-block; }
form.delete.bookmark .detail #urlLabel {       display: none; }

form.delete.group .detail #bookmarksLabel { display: none; }
form.delete.group .detail #groupText {      display: none; }
form.delete.group .detail #groupSelect {    display: inline-block; }
form.delete.group .detail #nameLabel {      display: none; }
form.delete.group .detail #urlLabel {       display: none; }

form.update.bookmark .element #groupLabel {     display: none; }
form.update.bookmark .detail  #bookmarksLabel { display: inline-block; }
form.update.bookmark .detail  #groupsLabel {    display: inline-block; }
form.update.bookmark .detail  #groupText {      display: inline-block; }
form.update.bookmark .detail  #groupSelect {    display: none; }
form.update.bookmark .detail  #nameText {       display: inline-block; }
form.update.bookmark .detail  #nameSelect {     display: none; }

/* Had to revert filedset tags to divs because chrome did not support css grid on them. */
form .fieldset {
	border-width: 5px;
    border-style: solid;
    border-color: var(--grayscale-20);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	display: grid;
 	grid-template-columns: max-content;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 0;
	align-content: start;
}

@media (max-width: 800px) {
	form .fieldset {
		grid-template-rows: auto;
	}
}

form .fieldset label,
form .fieldset input, 
form .fieldset select {
	margin: 0;
	font-size: 1em;
}

form .fieldset label {
	line-height: 2em;
	text-align: right;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid var(--grayscale-20);
	background-color: var(--grayscale-19);
	cursor: pointer;
	user-select: none;
}

form .fieldset label:hover,
form .fieldset label:focus,
form .fieldset label:active {
	background-image: linear-gradient( rgba( 54, 54, 54, 1 ), rgba( 54, 54, 54, .85 ) );
}

form.delete .complete.fieldset label:hover {
	background-image: linear-gradient( rgba( 160, 0, 0, 1 ), rgba( 160, 0, 0, .85 ) );
}

form .fieldset label input,
form .fieldset label select {
	margin-left: 13px;
	vertical-align: middle;
}

form .detail.fieldset label {
	min-width: 300px;
	max-width: 300px;
}

form .detail.fieldset label input,
form .detail.fieldset label select {
	margin-left: 13px;
	width: 172px;
}

form .complete.fieldset label {
	min-width: 150px;
	text-align: center;
}

form .complete.fieldset label input  {
	margin: 0;
	width: 100px;
	text-transform: capitalize;
}

.button {
	margin: 0;
	min-width: 69px;
	text-align: center;
	cursor: pointer;
}

.button.cancel {
	background-color: transparent;
	border: none;
	width: 90%;
	margin-top: 16px;
	padding: 5px 0;
}

.button.cancel svg {
	stroke: var(--grayscale-14);
	stroke-width: 3;
	fill: none;
	stroke-linecap: square;
}

.button.cancel:hover {
	background-image: linear-gradient( rgba( 54, 54, 54, .85 ), rgba( 54, 54, 54, 1 ) );
}

.button.cancel:hover svg{
	stroke: var(--grayscale-08);
}

#ajaxResponse {
	grid-column: 1 / 2;
	grid-row: 2 / 5;
	align-self: start;
	color: var(--red);
	max-width: 150px;
	font-size: 1em;
	line-height: 1.2em;
	padding: 10px;
}

.get-help {
	text-decoration: underline;
	cursor: pointer;
}

footer {
	grid-area: footer;
	align-self: center;
	text-align: center;
	font-family: var(--primary-font-family);
	font-size: 1em;
	padding: 4em 0 2em 0;
	background-color: var(--grayscale-08);
	position: relative;
}

footer nav {
	margin-bottom: 15px;
}

footer nav button {
	cursor: pointer;
	min-width: 69px;
	font-size: 1em;
	margin: 0 .35em 0 .35em;
}

footer small.links {
	text-align: center;
	display: block;
	margin: 0 0 1em 0;
}

footer small.links a {
	text-decoration: underline;
	cursor: pointer;
	display: inline-block;
	margin: 0 .35em 0 .35em;
	color: var(--grayscale-24);
}

footer small.copyright {
	font-size: .8em;
}

.modal { 
	position: fixed; 
 	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
	max-width: 800px;
 	height: 80vh; 
	background-color: var(--grayscale-00);
	padding: 3em;
	box-shadow: 0 0 70px var(--grayscale-26);
	display: none;
	text-align: left;
	line-height: 1.3em;
	font-size: 1.1em;
	overflow: auto;
}

@media (max-width: 800px) {
	.modal {
		max-width: 100vw;
 		height: 100vh;
	}
}

.modal.help.show { display: block; }

.modal section {
	margin-bottom: 3em;
}

.modal p, .modal ul, .modal ol {
	font-family: var(--primary-font-family);
}

.modal h2 {
	margin: 0 0 2em 0;
	font-size: 1.3em;
	font-weight: bold;
}

.modal h3 {
	margin: .25em 0 1.5em 0;
	font-size: 1.2em;
	font-weight: bold;
}

.modal h3.child {
	margin: .45em 0 1em 0;
	display: inline-block;
}

.modal p {
	margin: 0 0 1em 0;
	clear: both;
}

.modal strong {
	font-family: var(--primary-font-family);
	font-weight: bold;
}

.modal ul {
	list-style-type: square;
	padding-left: 2em;
	margin: 0 0 1em 0;
}

.modal ol {
	list-style-type: none;
	padding-left: 0;
	margin: 0 0 1em 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-gap: 1em;
}

@media (max-width: 600px) {
	.modal ol {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto auto;
	}
	.modal {
		padding: 1.5em;
	}	
}


.modal ol li {
	line-height: 1.5em;
	background-color: #eee;
	padding: 1em;
}

.modal ol li strong {
	display: block;
}

.modal a.close {
	float: right;
	display: block;
	cursor: pointer;
	text-decoration: underline;
	font-size: inherit;
}