/* START GLOBAL */
* {
	scrollbar-width : thin;
	scrollbar-color : var( --scrollbarThumbColor ) var( --scrollbarTrackColor );
}

::scrollbar               { width : 9px; height : 9px; }
::-webkit-scrollbar       { width : 9px; height : 9px; }
::scrollbar-track         { background : var( --scrollbarTrackColor ) }
::-webkit-scrollbar-track { background : var( --scrollbarTrackColor ) }
::scrollbar-thumb         { background-color : var( --scrollbarThumbColor ); border : 1px solid var( --scrollbarThumbBorderColor ); border-radius : 4.5px; }
::-webkit-scrollbar-thumb { background-color : var( --scrollbarThumbColor ); border : 1px solid var( --scrollbarThumbBorderColor ); border-radius : 4.5px; }

html {
	-webkit-text-size-adjust : 100%; /* Text size fix for iphone landscape orientation. */
}

html, body {
	font-family      : var( --font-family-base );
	font-size        : var( --font-size-base );
	background-color : var( --background-color-body );
	margin           : 0;
	padding          : 0;
	width            : 100%;
	height           : 100%; /* Sticky Footer Magic */	
}

body {
	position              : relative;
	display               : grid;
	grid-template-areas   : 'form' 'main' 'footer';
	grid-template-columns : 1fr;
	grid-template-rows    : max-content auto max-content;
	grid-gap              : 0px;
	color                 : var( --font-color-base );
}

a, a:link, a:visited, a:hover, a:active {
	color: var( --font-color-a-base );
}

*:focus {
	box-shadow: none;
	outline: none;
}

input:focus, select:focus, button:focus, a:focus, textarea:focus, summary:focus, svg:focus {
	outline-style : solid;
	outline-color : var( --outline-color-base );
  	outline-width : 0;
	box-shadow    : 0 0 3px 4px var( --outline-box-shadow-color-base );
	position      : relative;
	z-index       : 10;   
}

input[type='text'], input[type='submit'], input[type='radio'], input[type='checkbox'], select, textarea, button {
	-moz-appearance    : none;
	-webkit-appearance : none;
	appearance         : none;
}

input[type='text'], input[type='submit'], select, button {
	font-size        : var( --font-size-form-inputs );
	color            : var( --font-color-form-inputs );
	padding          : 0 5px;
	height           : 26px;
	background-color : var( --background-color-form-inputs );
	border           : 1px solid var( --border-color-form-inputs );
	border-radius    : 3px;
}

select {
	position            : relative;
  	background          : var( --background-color-form-inputs ) var( --background-image-form-select ) no-repeat;
  	background-position : right 0px top 50%;
  	padding-right       : 25px; 	
}

textarea {
	background   : transparent;
	border-color : transparent;
	resize       : none;
}

input[type='radio'] {
	width            : 14px;
	height           : 14px;
	border-radius    : 7px;
	border           : 2px solid var( --border-color-form-input-radio );
	background-color : var( --background-color-form-input-radio );
}

input[type='radio']:checked {
	background-color : var( --background-color-form-input-radio-checked );
}

input[type='checkbox'] {
	position         : relative; 
	width            : 14px;
	height           : 14px;
	border-radius    : 2px;
	border           : 1px solid var( --border-color-form-input-radio );
	background-color : var( --background-color-form-input-radio );
}

input[type='checkbox']:checked {
  	background          : var( --background-color-form-input-radio ) var( --background-image-form-checkbox ) no-repeat;
  	background-position : center center;	
}

.form {
	--scrollbarThumbColor       : var( --grayscale-15 );
	--scrollbarThumbBorderColor : var( --background-color-form );	
}

.hide { display: none; }

.no-scroll { overflow: hidden; }
/* END GLOBAL */
