/* START FORM */

/* Edit */
form#formEdit div.action {   grid-area : action; }
form#formEdit div.element {  grid-area : element; }
form#formEdit div.detail {   grid-area : detail; }
form#formEdit div.complete { grid-area : complete }
form#formEdit button.close { grid-area : close; }

form#formEdit {
	display               : grid;
	width                 : 100%;
	min-width             : 300px;
	margin                : 0 auto;
	padding               : 32px 21px 0 21px;
	background-color      : var( --background-color-form );
	color                 : var( --font-color-form );	
	grid-area             : form;
	grid-template-areas   : 'action element detail complete' 'close close close close';
	grid-template-columns : max-content max-content max-content max-content;
	grid-template-rows    : max-content;
	grid-gap              : 13px;
	justify-content       : center; 
}

@media (max-width: 800px) {
	form#formEdit {
		grid-template-areas   : 'action element' 'detail detail' 'complete complete' 'close close';
		grid-template-columns : max-content max-content;
		padding               : 13px 0 0 0;
	}
	form#formEdit .complete.fieldset { max-width : 100%; }
	form#formEdit button.close { margin-top : 0; }
}	

@media (max-width: 420px) {
	form#formEdit {
		justify-content       : normal;
		grid-template-columns : auto auto;
		max-width             : 100%;
		width                 : 100%;
		padding               : 13px 13px 0 13px;
	}
}	

form#formEdit.create.bookmark .detail #bookmarksLabel,
form#formEdit.create.bookmark .detail #groupText,
form#formEdit.create.bookmark .detail #nameSelect,
form#formEdit.create.group .detail #bookmarksLabel,
form#formEdit.create.group .detail #groupSelect,
form#formEdit.create.group .detail #nameSelect,
form#formEdit.delete.bookmark .detail #bookmarksLabel,
form#formEdit.delete.bookmark .detail #groupsLabel,
form#formEdit.delete.bookmark .detail #nameText,
form#formEdit.delete.bookmark .detail #urlLabel,
form#formEdit.delete.group .detail #bookmarksLabel,
form#formEdit.delete.group .detail #groupText,
form#formEdit.delete.group .detail #nameLabel,
form#formEdit.delete.group .detail #urlLabel,
form#formEdit.update.bookmark .element #groupLabel,
form#formEdit.update.bookmark .detail  #groupSelect,
form#formEdit.update.bookmark .detail  #nameSelect { display : none; }

/* Had to revert fieldset tags to divs because chrome did not support css grid on them. */
form#formEdit .fieldset {
	display               : grid;
 	grid-template-columns : 100%;
 	grid-template-rows    : 1fr 1fr 1fr 1fr;
	grid-gap              : 1px;
	align-content         : start;
}

@media (max-width: 800px) {
	form#formEdit .fieldset { grid-template-rows : auto; }
}

form#formEdit .fieldset label { margin : 0; }

form#formEdit .fieldset label {
	min-height       : 48px;
	padding          : 0 20px;
	background-color : var( --background-color-form-label );
	cursor           : pointer;
	user-select      : none;
	display          : flex;
	flex-wrap        : nowrap;
	justify-content  : flex-end;
	align-items      : center;  
}

form#formEdit .fieldset label:hover,
form#formEdit .fieldset label:focus,
form#formEdit .fieldset label:active { background-image : var( --linear-gradient-form-label-hover  ) }

form#formEdit.delete .complete.fieldset label:hover { background-image : var( --linear-gradient-form-warning ) }

form#formEdit .fieldset label input,
form#formEdit .fieldset label select { margin : 0 0 0 13px; }

form#formEdit .detail.fieldset label { min-width : 300px; }

form#formEdit .detail.fieldset label input,
form#formEdit .detail.fieldset label select { width : 172px; }

form#formEdit .complete { max-width : 150px; }

form#formEdit .complete.fieldset label {
	min-width       : 150px;
	text-align      : center;
	justify-content : center;
}

form#formEdit .complete.fieldset label input  {
	margin         : 0;
	width          : 100px;
	color          : var( --font-color-form-inputs )  ;
	text-transform : capitalize;
}

form#formEdit .complete.fieldset label input.submit {
	margin     : 0;
	min-width  : 69px;
	text-align : center;
	cursor     : pointer;
}

form#formEdit button.close {
	background-color : transparent;
	background-image : none; 
	border           : none;
	margin-top       : 16px;
	padding          : 9px 0;
	height           : 48px;
	cursor           : pointer;
}

form#formEdit button.close:hover { background-image : var( --linear-gradient-form-close-hover ) ; }

form#formEdit button.close svg {
	stroke         : var( --stroke-form-svg );
	stroke-width   : 2;
	fill           : none;
	stroke-linecap : square;
}

form#formEdit button.close:hover svg { stroke : var( --stroke-form-svg-hover ); }

form#formEdit #errorMessage {
	grid-column : 1 / 2;
	grid-row    : 2 / 5;
	height      : 100%;
	min-height  : 4.5rem; 
	align-self  : start;
	color       : var( --font-color-form-error );
	font-size   : .9rem;
	line-height : 1.1rem;
	padding     : 5px;
}

@media (max-width: 800px) {
	form#formEdit #errorMessage {
		min-height : 0;
	}	
}

/* END FORM */
