/* START GROUPS FORM */

/* Settings */
form#formGroups div.groups   { grid-area : groups; }
form#formGroups button.close { grid-area : close; }

form#formGroups {
	width                 : 100%;
	min-width             : 300px;
	margin                : 0 auto;
	padding               : 32px 21px 0 21px;
	background-color      : var( --background-color-form );
	color                 : var( --font-color-form );	
	grid-area             : form;
	justify-content       : center; 	
}

@media (max-width: 800px) {
	form#formGroups {
		padding : 13px 0 0 0;
	}
	form#formGroups button.close { margin-top : 0; }
}	

@media (max-width: 420px) {
	form#formGroups {
		justify-content       : normal;
		grid-template-columns : auto;
		max-width             : 100%;
		width                 : 100%;
		padding               : 13px 13px 0 13px;
	}
}	

/* Had to revert fieldset tags to divs because chrome did not support css grid on them. */
form#formGroups .fieldset {
	display               : grid;
 	grid-template-columns : repeat( auto-fit, minmax(140px, 1fr) );
	grid-gap              : 1px;
	align-content         : start;
}

@media (max-width: 800px) {
	form#edit .fieldset { grid-template-rows : auto; }
}

form#formGroups .fieldset label {
	min-height       : 48px;
	padding          : 0 20px;
	background-color : var( --background-color-form-label );
	cursor           : pointer;
	user-select      : none;
	display          : flex;
	flex-wrap        : nowrap;
	justify-content  : flex-end;
	align-items      : center; 
	margin           : 0; 
	white-space      : nowrap;  
}

form#formGroups .fieldset label:hover,
form#formGroups .fieldset label:focus,
form#formGroups .fieldset label:active { background-image : var( --linear-gradient-form-label-hover  ) }

form#formGroups .fieldset label input,
form#formGroups .fieldset label select { margin : 0 0 0 13px; }

form#formGroups button.close {
	background-color : transparent;
	background-image : none; 
	border           : none;
	margin-top       : 16px;
	padding          : 9px 0;
	width            : 100%;
	height           : 48px;
	cursor           : pointer;
}

form#formGroups button.close:hover { background-image : var( --linear-gradient-form-close-hover ) ; }

form#formGroups button.close svg {
	stroke         : var( --stroke-form-svg );
	stroke-width   : 2;
	fill           : none;
	stroke-linecap : square;
}

form#formGroups button.close:hover svg { stroke : var( --stroke-form-svg-hover ); }

/* END GROUPS FORM */
