/* START VARIABLES */
:root {

	/* COLORS */
	--grayscale-00 : rgba( 255, 255, 255, 1 ); /* #ffffff */
	--grayscale-01 : rgba( 250, 250, 250, 1 ); /* #fafafa */
	--grayscale-02 : rgba( 240, 240, 240, 1 ); /* #f0f0f0 */
	--grayscale-03 : rgba( 237, 237, 237, 1 ); /* #ededed */
	--grayscale-04 : rgba( 230, 230, 230, 1 ); /* #e6e6e6 */
	--grayscale-05 : rgba( 225, 225, 225, 1 ); /* #e1e1e1 */
	--grayscale-06 : rgba( 221, 221, 221, 1 ); /* #dddddd */
	--grayscale-07 : rgba( 211, 211, 211, 1 ); /* #d3d3d3 */
	--grayscale-08 : rgba( 212, 212, 212, 1 ); /* #d4d4d4 */
	--grayscale-09 : rgba( 201, 201, 201, 1 ); /* #c9c9c9 */
	--grayscale-10 : rgba( 191, 191, 191, 1 ); /* #bfbfbf */
	--grayscale-11 : rgba( 181, 181, 181, 1 ); /* #b5b5b5 */
	--grayscale-12 : rgba( 172, 172, 172, 1 ); /* #acacac */
	--grayscale-13 : rgba( 162, 162, 162, 1 ); /* #a2a2a2 */
	--grayscale-14 : rgba( 123, 123, 123, 1 ); /* #7b7b7b */
	--grayscale-15 : rgba( 113, 113, 113, 1 ); /* #717171 */
	--grayscale-16 : rgba( 103, 103, 103, 1 ); /* #676767 */
	--grayscale-17 : rgba( 93, 93, 93, 1 );    /* #5d5d5d */
	--grayscale-18 : rgba( 84, 84, 84, 1 );    /* #545454 */
	--grayscale-19 : rgba( 74, 74, 74, 1 );    /* #4a4a4a */
	--grayscale-20 : rgba( 64, 64, 64, 1 );    /* #404040 */
	--grayscale-21 : rgba( 54, 54, 54, 1 );    /* #363636 */
	--grayscale-22 : rgba( 44, 44, 44, 1 );    /* #2c2c2c */
	--grayscale-23 : rgba( 35, 35, 35, 1 );    /* #232323 */
	--grayscale-24 : rgba( 25, 25, 25, 1 );    /* #191919 */
	--grayscale-25 : rgba( 15, 15, 15, 1 );    /* #0f0f0f */
	--grayscale-26 : rgba( 0, 0, 0, 1 );       /* #000000 */
	--red          : rgba( 221, 0, 0, 1 );     /* #dd0000 */
	--red-medium   : rgba( 200, 0, 0, 1 );     /* #c80000 */
	--red-dark     : rgba( 165, 0, 0, 1 );     /* #a50000 */
	--blue         : rgba( 47, 129, 210, 1 );  /* #2f81d2 */

	/* COLOR OPACITY VARIATIONS */
	--grayscale-00-a9  : rgba( 255, 255, 255, .9 );
	--grayscale-21-a85 : rgba(  54,  54,  54, .85 );
	--red-medium-a85   : rgba( 200,   0,   0, .85 );
	--red-dark-a85     : rgba( 160,   0,   0, .85 );

	/* BASE */
	--font-family-base              : sans-serif;
	--font-size-base                : 13px;
	--font-color-base               : var( --grayscale-25 );
	--font-color-a-base             : var( --grayscale-25 );
	--outline-color-base            : var( --blue );
	--outline-box-shadow-color-base : var( --blue );

	/* BODY */
	--background-color-body : var( --grayscale-20 );

	/* FORMS */
	--font-size-form-inputs                     : var( --font-size-base  );
	--font-color-form                           : var( --grayscale-00 );
	--font-color-form-inputs                    : var( --font-color-base );
	--font-color-form-error                     : var( --red );
	--border-color-form-inputs                  : var( --grayscale-09 );
	--border-color-form-input-radio             : var( --grayscale-09 );
	--background-color-form                     : var( --grayscale-20 );
	--background-color-form-label               : var( --grayscale-19 );
	--background-color-form-inputs              : var( --grayscale-00 );
	--background-color-form-input-radio         : var( --grayscale-09 );
	--background-color-form-input-radio-checked : var( --font-color-base );
	--linear-gradient-form-label   		        : linear-gradient( var( --grayscale-21 ),     var( --grayscale-21-a85 ) );
	--linear-gradient-form-warning 		        : linear-gradient( var( --red-dark ),         var( --red-dark-a85 ) );
	--linear-gradient-form-close   		        : linear-gradient( var( --grayscale-21-a85 ), var( --grayscale-21 ) );
	--stroke-form-svg                           : var( --grayscale-14 );
	--stroke-form-svg-hover                     : var( --grayscale-08 );
     
	/* BOOKMARKS */
	--font-color-bookmarks-hover                : var( --grayscale-00 );
	--background-color-bookmarks                : var( --grayscale-08 );
	--background-color-bookmarks-drag-hover     : var( --grayscale-05 );
	--linear-gradient-bookmarks-a-hover         : linear-gradient( var( --red-medium ),   var( --red-medium-a85 ) ); 
	--linear-gradient-bookmarks-a               : linear-gradient( var( --grayscale-00 ), var( --grayscale-00-a9 ) );

	/* FOOTER */
	--font-color-footer-a-hover                 : var( --red-medium );
	--border-color-footer-a                     : var( --grayscale-18 );
	--background-color-footer                   : var( --grayscale-08 );
                
	/* MODAL */
    --font-color-modal-a-hover                  : var( --red-medium );
	--background-color-modal-ol-li              : var( --grayscale-03 );
	--background-color-modal                    : var( --grayscale-00 );
	--box-shadow-color-modal                    : var( --grayscale-26 );

}
/* END VARIABLES */
