/* START FORM */
body.edit form { display : grid; }

form div.action {   grid-area : action; }
form div.element {  grid-area : element; }
form div.detail {   grid-area : detail; }
form div.complete { grid-area : complete }
form button.close { grid-area : close; }

form {
	display               : none;
	width                 : fit-content;
	min-width             : 300px;
	margin                : 0 auto;
	padding               : 32px 21px 0 21px;
	background-color      : var(--grayscale-20);
	color                 : var(--font-color-form);	
	grid-area             : form;
	grid-template-areas   : 'action element detail complete' 'close close close close';
	grid-template-columns : auto;
	grid-template-rows    : max-content;
	grid-gap              : 13px;
}

@media (max-width: 800px) {
	form {
		grid-template-areas: 'action element' 'detail detail' 'complete complete' 'close close';
		padding: 13px 0 0 0;
	}
	form button.close { margin-top : 0; }
}	

@media (max-width: 420px) {
	form {
		width   : 100%;
		padding : 13px 13px 0 13px;
	}
}	

form.create.bookmark .detail #bookmarksLabel,
form.create.bookmark .detail #groupText,
form.create.bookmark .detail #nameSelect,
form.create.group .detail #bookmarksLabel,
form.create.group .detail #groupSelect,
form.create.group .detail #nameSelect,
form.delete.bookmark .detail #bookmarksLabel,
form.delete.bookmark .detail #groupsLabel,
form.delete.bookmark .detail #nameText,
form.delete.bookmark .detail #urlLabel,
form.delete.group .detail #bookmarksLabel,
form.delete.group .detail #groupText,
form.delete.group .detail #nameLabel,
form.delete.group .detail #urlLabel,
form.update.bookmark .element #groupLabel,
form.update.bookmark .detail  #groupSelect,
form.update.bookmark .detail  #nameSelect { display : none; }

/* Had to revert fieldset tags to divs because chrome did not support css grid on them. */
form .fieldset {
	display               : grid;
 	grid-template-columns : 100%;
 	grid-template-rows    : 1fr 1fr 1fr 1fr;
	grid-gap              : 1px;
	align-content         : start;
}

@media (max-width: 800px) {
	form .fieldset { grid-template-rows : auto; }
}

form .fieldset label { margin : 0; }

form .fieldset label {
	min-height       : 3.75rem;
	padding          : 0 20px;
	background-color : var( --grayscale-19 );
	cursor           : pointer;
	user-select      : none;
	display          : flex;
	flex-wrap        : nowrap;
	justify-content  : flex-end;
	align-items      : center;  
}

form .fieldset label:hover,
form .fieldset label:focus,
form .fieldset label:active { background-image : var( --form-label-gradient ) }

form.delete .complete.fieldset label:hover { background-image : var( --form-delete-warning-gradient ) }

form .fieldset label input,
form .fieldset label select { margin-left : 13px; }

form .detail.fieldset label { min-width : 300px; }

form .detail.fieldset label input,
form .detail.fieldset label select { width : 172px; }

form .complete.fieldset label {
	min-width       : 150px;
	text-align      : center;
	justify-content : center;
}

form .complete.fieldset label input  {
	margin         : 0;
	width          : 100px;
	color          : var( --base-font-color )  ;
	text-transform : capitalize;
}

form .complete.fieldset label input.submit {
	margin     : 0;
	min-width  : 69px;
	text-align : center;
	cursor     : pointer;
}

form button.close {
	background-color : transparent;
	background-image : none; 
	border           : none;
	margin-top       : 16px;
	padding          : 9px 0;
	height           : 2.5rem;
	cursor           : pointer;
}

form button.close:hover { background-image : var( --form-close-gradient ) ; }

form button.close svg {
	stroke         : var(--grayscale-14);
	stroke-width   : 2;
	fill           : none;
	stroke-linecap : square;
}

form button.close:hover svg { stroke : var( --grayscale-08 ); }

form div#errorMessage {
	grid-column : 1 / 2;
	grid-row    : 2 / 5;
	align-self  : start;
	color       : var( --red );
	max-width   : 150px;
	font-size   : 1rem;
	line-height : 1.2rem;
	padding     : 10px;
}
/* END FORM */
