/* START FORM */
body.edit form { display : grid; }

form div.action {   grid-area : action; }
form div.element {  grid-area : element; }
form div.detail {   grid-area : detail; }
form div.complete { grid-area : complete }
form button.close { grid-area : close; }

form {
	display               : none;
	width                 : fit-content;
	min-width             : 300px;
	margin                : 0 auto;
	padding               : 32px 21px 0 21px;
	background-color      : var(--grayscale-20);
	color                 : var(--font-color-form);	
	grid-area             : form;
	grid-template-areas   : 'action element detail complete' 'close close close close';
	grid-template-columns : auto;
	grid-template-rows    : max-content;
	grid-gap              : 13px;
}

@media (max-width: 800px) {
	form {
		grid-template-areas: 'action element' 'detail detail' 'complete complete' 'close close';
		padding: 13px 0 0 0;
	}
	form button.close { margin-top : 0; }
}	

@media (max-width: 420px) {
	form {
		width   : 100%;
		padding : 13px 13px 0 13px;
	}
}	

form.create.bookmark .detail #bookmarksLabel { display: none; } 
form.create.bookmark .detail #groupText {      display: none; }
form.create.bookmark .detail #groupSelect {    display: inline-block; }
form.create.bookmark .detail #nameText {       display: inline-block; }
form.create.bookmark .detail #nameSelect {     display: none; }

form.create.group .detail #bookmarksLabel { display: none; } 
form.create.group .detail #groupText {      display: inline-block; }
form.create.group .detail #groupSelect {    display: none; }
form.create.group .detail #nameLabel {      display: inline-block; }
form.create.group .detail #nameText {       display: inline-block; }
form.create.group .detail #nameSelect {     display: none; }
form.create.group .detail #urlLabel {       display: inline-block; }
form.create.group .detail #urlText {        display: inline-block; }

form.delete.bookmark .detail #bookmarksLabel { display: none; } 
form.delete.bookmark .detail #groupsLabel {    display: none; }
form.delete.bookmark .detail #nameText {       display: none; }
form.delete.bookmark .detail #nameSelect {     display: inline-block; }
form.delete.bookmark .detail #urlLabel {       display: none; }

form.delete.group .detail #bookmarksLabel { display: none; }
form.delete.group .detail #groupText {      display: none; }
form.delete.group .detail #groupSelect {    display: inline-block; }
form.delete.group .detail #nameLabel {      display: none; }
form.delete.group .detail #urlLabel {       display: none; }

form.update.bookmark .element #groupLabel {     display: none; }
form.update.bookmark .detail  #bookmarksLabel { display: inline-block; }
form.update.bookmark .detail  #groupsLabel {    display: inline-block; }
form.update.bookmark .detail  #groupText {      display: inline-block; }
form.update.bookmark .detail  #groupSelect {    display: none; }
form.update.bookmark .detail  #nameText {       display: inline-block; }
form.update.bookmark .detail  #nameSelect {     display: none; }

/* Had to revert fieldset tags to divs because chrome did not support css grid on them. */
form .fieldset {
	display               : grid;
 	grid-template-columns : 100%;
 	grid-template-rows    : 1fr 1fr 1fr 1fr;
	grid-gap              : 1px;
	align-content         : start;
}

@media (max-width: 800px) {
	form .fieldset { grid-template-rows : auto; }
}

form .fieldset label,
form .fieldset input, 
form .fieldset select {
	margin    : 0;
	font-size : 1em;
}

form .fieldset label {
	line-height      : 2em;
	text-align       : right;
	padding          : 10px 20px 10px 20px;
	background-color : var(--grayscale-19);
	cursor           : pointer;
	user-select      : none;
	white-space      : nowrap;
}

form .fieldset label:hover,
form .fieldset label:focus,
form .fieldset label:active { background-image : linear-gradient( rgba( 54, 54, 54, 1 ), rgba( 54, 54, 54, .85 ) ); }

form.delete .complete.fieldset label:hover { background-image : linear-gradient( rgba( 160, 0, 0, 1 ), rgba( 160, 0, 0, .85 ) ); }

form .fieldset label input,
form .fieldset label select {
	margin-left    : 13px;
	vertical-align : middle;
}

form .detail.fieldset label { min-width : 300px; }

form .detail.fieldset label input,
form .detail.fieldset label select {
	margin-left : 13px;
	width       : 172px;
}

form .complete.fieldset label {
	min-width  : 150px;
	text-align : center;
}

form .complete.fieldset label input  {
	margin         : 0;
	width          : 100px;
	text-transform : capitalize;
}

form .complete.fieldset label input.submit {
	margin     : 0;
	min-width  : 69px;
	text-align : center;
	cursor     : pointer;
}

form button.close {
	background-color : transparent;
	border           : none;
	margin-top       : 16px;
	padding          : 5px 0;
	cursor           : pointer;
}

form button.close:hover { background-image : linear-gradient( rgba( 54, 54, 54, .85 ), rgba( 54, 54, 54, 1 ) ); }

form button.close svg {
	stroke         : var(--grayscale-14);
	stroke-width   : 3;
	fill           : none;
	stroke-linecap : square;
}

form button.close:hover svg { stroke : var(--grayscale-08); }

form div#errorMessage {
	grid-column : 1 / 2;
	grid-row    : 2 / 5;
	align-self  : start;
	color       : var(--red);
	max-width   : 150px;
	font-size   : 1em;
	line-height : 1.2em;
	padding     : 10px;
}
/* END FORM */
