/* START BOOKMARKS */
main {
	grid-area        : main;
	background-color : var( --background-color-bookmarks );
}

main section#bookmarks {
	display               : grid;
	grid-template-columns : repeat( auto-fit, minmax(100px, 1fr) );
	grid-gap              : 5px;
	position              : relative;
	height                : 100%;
	min-height            : 84px; 
	padding               : 0 5px; 
}

main section#bookmarks ul.bookmarks {
	padding-left    : 0;
	margin          : 0 0 0 0;
	list-style-type : none;
	border-width    : 0;
	border-style    : solid;
	border-color    : transparent;
}

main section#bookmarks ul.bookmarks.drag-hover {
	background-color: var( --background-color-bookmarks-drag-hover );
}

main section#bookmarks ul.bookmarks li button {
	cursor           : pointer;
	align-content    : center;
	border-width     : 0 0 0 0;
	border-style     : solid;
	border-color     : transparent;
	background-color : transparent;
	background-image : none; 
	font-weight      : bold;
	font-size        : 1rem;
	text-align       : left;
	padding          : 0 .75rem;
	margin           : 0;
	width            : 100%;
	border-radius    : 0;
}

main section#bookmarks ul.bookmarks li button { color: var( --font-color-bookmarks-button );  }

main section#bookmarks ul.bookmarks li button:hover {
	color            : var( --font-color-bookmarks-hover );
	background-image : var( --linear-gradient-bookmarks-a-hover );
}

main section#bookmarks ul.bookmarks li ul {
	border : none;
	margin : 0;
}

main section#bookmarks ul.bookmarks li:hover ul {
	display : block;
}			

main section#bookmarks ul.bookmarks li ul li {
	border-bottom : 1px solid transparent;
	position      : relative; 
}

main section#bookmarks ul.bookmarks li ul li a {
	text-decoration  : none;
	display          : grid;
	align-content    : center;
	padding          : .65em .75rem;
	background-image : var( --linear-gradient-bookmarks-a );
	word-break       : break-word;
}

main section#bookmarks ul.bookmarks li ul li a:hover {
	color            : var( --font-color-bookmarks-hover );
	background-image : var( --linear-gradient-bookmarks-a-hover );
}

main section#bookmarks #loader {
    position : absolute;
    left     : 0;
    right    : 0;
    top      : calc( 50% - 25px );
    border   : 0;
    margin   : auto;
}

main section#bookmarks #loader circle {
	fill: var( --fill-bookmarks-svg-loader );
}

@media ( max-width: 600px ) {
	main section#bookmarks { grid-template-columns: repeat( auto-fit, minmax( 150px, 1fr ) );	}
	main section#bookmarks ul.bookmarks li button {  min-height : 48px; }	
	main section#bookmarks ul.bookmarks li ul li a { min-height : 48px; }
}

/* END BOOKMARKS */
