/* START BOOKMARKS */
main {
	grid-area: main;
	background-color: var(--grayscale-08);
}

main section#bookmarks {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
	grid-gap: 5px;
	position: relative;
	height: 100%;
}

main section#bookmarks ul.bookmarks {
	padding-left: 0;
	margin: 0 0 0 0;
	list-style-type: none;
	border-width: 0;
	border-style: solid;
	border-color: transparent;
}

main section#bookmarks ul.bookmarks li button {
	cursor: pointer;
	display: block;
	border-width: 0 0 0 0;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.8em;
	text-align: left;
	padding: .25em .75em;
	margin: 0;
	width: 100%;
	border-radius: 0;
}

main section#bookmarks ul.bookmarks li button:hover {
	color: var(--font-color-bookmark-hover);
	background-image: linear-gradient( rgba( 200, 0, 0, 1 ), rgba( 200, 0, 0, .9 ) );
}

main section#bookmarks ul.bookmarks li ul {
	border: none;
	margin: 0;
}

main section#bookmarks ul.bookmarks li:hover ul {
	display: block;
}			

main section#bookmarks ul.bookmarks li ul li {
	border-bottom: 1px solid transparent;
}

main section#bookmarks ul.bookmarks li ul li a {
	text-decoration: none;
	display: block;
	padding: .65em .75em;
	background-image: linear-gradient( rgba( 255, 255, 255, 1 ), rgba( 255, 255, 255, .9 ) );
	word-break: break-word;
}

main section#bookmarks ul.bookmarks li ul li a:hover {
	color: var(--font-color-bookmark-hover);
	background-image: linear-gradient( rgba( 200, 0, 0, 1 ), rgba( 200, 0, 0, .9 ) );
}

main section#bookmarks #loader {
    position: absolute;
    left: 0;
    right: 0;
    top: calc( 50% - 25px );
    border: 0;
    margin: auto;
}
/* END BOOKMARKS */
